<!--
============================================
; Title: EMS Footer
; Author: Professor Krasso
; Date: 18 January 2022
; Modified By: Joel Hartung
; Description: footer.ejs
; Code Attribution:
;===========================================
-->

    <footer>
        <p class="text-center">&copy; Joel Hartung, 2022</p>
    </footer>
</body>
</html>
