<!--
============================================
; Title: EMS Footer
; Author: Professor Krasso
; Date: 18 January 2022
; Modified By: Joel Hartung
; Description: footer.ejs
; Code Attribution: How to Use EJS To Template Your Node Application
; URL: https://www.digitalocean.com/community/tutorials/how-to-use-ejs-to-template-your-node-application
;===========================================
-->

    <footer class="fixed-bottom"> 
        <p class="text-center">&copy; Joel Hartung, 2022</p>
    </footer>
</body>
</html>
