<!--
============================================
; Title: EMS Header
; Author: Professor Krasso
; Date: 18 January 2022
; Modified By: Joel Hartung
; Description: header.ejs
; Code Attribution:
;===========================================
-->
<!DOCTYPE html>
<html lang="en">
    <body>
    <head>
        <meta charset="UTF-8" />
        <title>Employee Management System</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
        <h2>Joel's Employee Management System</h2>
    </head>

