<!--
============================================
; Title: EMS Index
; Author: Professor Krasso
; Date: 12 February 2022
; Modified By: Joel Hartung
; Description: index.ejs
; Code Attribution: 
;===========================================
-->
<%- include('header') -%>
<%- include('navbar') -%>
<div role="main" style="background: url(https://bootstrapious.com/i/snippets/sn-bg-image/bg.jpg); height: 100%" class="page-holder bg-cover">
    
    <div class="container">
        <div class="row">
            <div class="card col-2 m-3" style="width: 18 rem; min-width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">List</h5>
                <p class="card-text">Tabular view of employee records</p>
                <a href="list" class="btn btn-primary" style="width: 10rem;">Let's go!</a>
                </div>
            </div>
            <div class="card col-2 m-3" style="width: 18rem; min-width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">New</h5>
                <p class="card-text">Data Entry Page</p>
                <a href="new" class="btn btn-primary" style="width: 10rem;">New record</a>
                </div>
            </div>
            <div class="card col-2 m-3" style="width: 18rem; min-width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">View</h5>
                <p class="card-text">Read-only page with selected employee's details</p>
                <a href="list" class="btn btn-primary" style="width: 10rem;">View</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<%- include('footer') -%>
<%- include('scripts') -%>
