<!--
============================================
; Title: EMS View
; Author: Professor Krasso
; Date: 12 February 2022
; Modified By: Joel Hartung
; Description: view.ejs
; Code Attribution:
;===========================================
-->
<!-- Read-only page with the selected employee's details -->

<%- include('header') -%>
<%- include('navbar') -%>
<div role="main" class="container" style="width: 30%; margin-top: 5%">
    <div class="card">
       
    </div>

    <a href="/">Return Home</a>
</div>

<%- include('footer') -%>
<%- include('scripts') -%>