<!--
============================================
; Title: Assignment 3.4
; Author: Professor Krasso
; Date: 18 January 2022
; Modified By: Joel Hartung
; Description: about.ejs
; Code Attribution: HTML Code adapted from Assignment 3.4
; Code Attribution: How to use ejs to template your node application
; URL: https://www.digitalocean.com/community/tutorials/how-to-use-ejs-to-template-your-node-application
;===========================================
-->
<%- include('header') -%>
<div class="container">
    <br />
    <h2>Welcome to the <%= message %>!</h2>
</div>

<%- include('footer') -%>
