<!--
============================================
; Title: Assignment 3.4
; Author: Professor Krasso
; Date: 18 January 2022
; Modified By: Joel Hartung
; Description: footer.ejs
; Code Attribution: HTML Code adapted from Assignment 3.4
;===========================================
-->
</body>
</html>
